.content {
  max-height: 500px;
  overflow-x: auto;
  padding: 30px;

  .preview-images {
    img {
      width: 120px;
      height: 120px;
      object-fit: contain;
      margin: 5px;
      box-shadow: 2px 2px #efefef;
    }
  }
}

@media (max-width: 450px) {

  .content {
    max-height: none!important;
    padding: 20px!important;
  }

}
