.sidebar{

    height: 500px;

    a{
        padding:20px;
        padding-left: 30px;
        color:#333;

        svg {
          margin-right: 20px;
        }
    }
    a:hover{
        background-color:#333;
        color:#fff;
        padding: 20px;
        padding-left: 30px;
    }

}


@media (max-width: 450px) {

  .sidebar {
    height: 300px!important
  }

}
